:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  border-top: 5px solid #747bff;
}

.container {
  flex: 1;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 10px 20px 60px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.active {
  border-width: 2px;
}

button.active,
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto #646cff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px
}

::-webkit-scrollbar-thumb {
  border-color: transparent
}

::-webkit-scrollbar-track {
  background: #16161a;
  border-color: transparent
}

::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.code-tag {
  padding: 2px 6px;
  border-radius: 0.3rem;
  font-size: 0.95em;
  color: #8B81C3;
  margin: 0 2px;
  line-height: 1.6rem;
}

.tit-gr {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.id-inp-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 1em;
}

.id-inp {
  max-width: 160px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

.id-inp:hover {
  border-color: #646cff;
}

.id-inp:focus,
.id-inp:focus-visible {
  outline: 4px auto #646cff;
}

.ff-message {
  text-align: center;
}

.res-media {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

footer {
  width: 100%;
  padding: 16px;
  border-top: 1px solid #ccc;
  text-align: center;
}

footer p {
  margin: 0;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
}

footer a {
  color: inherit;
}

.github-link {
  position: absolute;
  top: 20px;
  right: 5vw;
  right: min(5vw, 40px);
}

.github-link svg {
  width: 32px;
  height: 32px;
}

.load-core-btn {
  display: block;
  margin: 50px auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #e9e9e9;
    color: #000;
  }

  .code-tag {
    background-color: #f4f2f9;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px
  }

  ::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-left: 1px solid #dadada
  }

  ::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border: 2px solid #e6e6e6;
    border-radius: 4px
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #000
  }
}
